#info h3 {
    font-family: 'Roboto Mono', monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    color: red;
    text-align: center;
    text-decoration: none;
}

#name {
    display: flex;
    font-size: 3em;
    font-weight: bold;
}

@media only screen and (max-width: 420px) {
    #name {
        flex-direction: column;
        align-items: center;
    }
}
.description-icon i {
    color: red;
}
.links {
    margin-top: 0.5em;
    font-size: 2em;
}
.links > a {
    color: black;
    text-decoration: none;
}
.links > a:hover {
    color: red;
}