@media only screen and (max-width: 420px) {
    #projects .project-item, #tech {
        width: 90%;
    }
    #projects section {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 999px) {
    .project-item img {
        display: none;
    }
}
@media only screen and (max-width: 499px) {
    #contact span {
        max-width: 80%;
    }
    #contact form input, textarea {
        width: 100%;
    }
}