body {
    font: 1em sans-serif;
    color: #444;
    margin: 0;
    overflow: hidden;
}
h1, h2, h3, h4 {
    margin: 0px;
}
h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    color: red;
}
mark {
    background-color: black;
    color: white;
}
@media only screen and (orientation: landscape){
    #wrapper, #content, #art {
        display: flex;
        /* resize: both; */
        overflow: auto;
        height: 100vh;
        /* align-items: center; */
        justify-content: center;
    }
    #content {
        width: 50vw;
        align-items: center;
    }
    #art {
        width: 50vw;
        background-color: #f76c6c;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .svg-art {
        width: 60%;
        height: auto;
        margin: 10px;
    }
}
@media only screen and (orientation: portrait){
    #wrapper {
        height: 100vh;
    }
    #wrapper, #content, #art {
        display: flex;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
    }
    #content {
        height: 50vh;
        align-items: center;
        text-align: center;
    }
    #art {
        height: 50vh;
        background-color: #f76c6c;
        justify-content: space-evenly;
        align-items: center;
    }
    .svg-art {
        width: 80%;
        height: auto;
    }
}
.icon {
    display: inline-block;
    color: black;
    width: 1em;
    height: 1em;
    fill: currentColor;
    transition: all 0.3s ease;
}
.links {
    margin-top: 1em;
    font-size: 2em;
}
.description-icon .icon {
    color: red;
}
.links .icon:hover {
    color: red;
}