body {
    font: 1em 'Libre Baskerville', serif;
    color: #444;
    margin: 0;
    overflow-x: hidden;
}
h1,h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    color: red;
}
mark {
    background-color: black;
    color: white;
}
#wrapper, #info, #projects, #skills, #contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#info, #projects, #skills, #contact, #tech {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#info, #contact {
    height: 100vh;
}
#projects, #skills {
    background-color: #f5f5f5;
}