body {
    font: 1em sans-serif;
    color: #444;
    margin: 0;
    overflow: hidden;
}
h1, h2, h3, h4 {
    margin: 0px;
}
h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    color: red;
}
mark {
    background-color: black;
    color: white;
}
.info {
    margin-left: 5%;
    margin-right: 5%;
}
#wrapper {
    width: 100vw;
    height: 100vh;
}
#wrapper, #content, #art {
    display: flex;
    justify-content: center;
}
#content {
    align-items: center;
}
#art {
    background-color: #f76c6c;
    justify-content: space-evenly;
}
@media only screen and (orientation: landscape){
    #content, #art {
        height: 100vh;
        width: 50vw;
    }
    #art {
        flex-wrap: wrap;
    }
    .svg-art {
        width: 60%;
        height: auto;
        margin: 10px;
    }
}
@media only screen and (orientation: portrait){
    #wrapper {
        flex-direction: column;
    }
    #content, #art {
        height: 50vh;
    }
    #content {
        text-align: center;
        order: 2;
    }
    #art {
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .svg-art {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 80%;
        height: auto;
    }
}
.icon {
    display: inline-block;
    color: black;
    width: 1em;
    height: 1em;
    fill: currentColor;
    transition: all 0.3s ease;
}
.links {
    margin-top: 1em;
    font-size: 2em;
}
.description-icon .icon {
    color: red;
}
.links .icon:hover {
    color: red;
}