#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#skills section {
    display: flex;
    align-items: center;
}
#skills h1, #skills h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}
#skills span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#skills i {
    margin-bottom: 10px;
    font-size: 4em;
    color: black;
}